/* .App-Container {
  text-align: center;
} */

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}
a.navbar-brand {
  color: white;
}

.container {
  width: 100%;
}